Django==1.9.2
django-cors-headers==1.1.0
django-facebook==6.0.3
django-fagungis==0.1
django-filter==0.12.0
django-neomodel==0.0.4
django-s3direct==0.4.4
djangorestframework==3.3.2
ecdsa==0.13
Fabric==1.12.0
google-api-python-client==1.5.5
html5lib==0.999
httplib2==0.8
lockfile==0.8
Markdown==2.6.5
MySQL-python==1.2.5
neo4j-driver==1.2.1
neomodel==3.2.5
oauth2client==4.0.0
paramiko==1.17.2
Pillow==3.4.2
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycrypto==2.6.1
python-http-client==2.2.1
pytz==2017.2
rsa==3.4.2
sendgrid==3.6.3
six==1.10.0
Unidecode==0.4.19
uritemplate==3.0.0
